<h2>Inventory Clerk</h2>
<div>
    <h1>Welcome {{user.firstName}} {{user.lastName}}</h1>
    {{#if user}}
        {{#if user.inventoryClerk}}
            <a class="btn" href="/products/add">Add a Product</a>
            <a class="btn" href="/user/logout">Logout </a>
        {{/if}}
    {{/if}}
    <br><br>
</div>
