<div>
    <h1>Welcome {{user.firstName}} {{user.lastName}}</h1>
    <a class="btn" href="/shoppingCart/{{user._id}}">Shopping Cart {{session.cart.totalQuantity}}</a>
    <a class="btn" href="/user/logout">Logout</a>
    <br><br>
</div>
