{{!-- Confirmation Page --}}
<a class="btn" href="/user/profile/{{user._id}}">{{user.firstName}}'s Profile</a> <a class="btn" href="/user/logout">Logout</a><br><br>
<a href="/products" class="btn">Go back</a>
<div class="dashboard">
    <h3>Thank you {{user.firstName}} for your purchase with the Everything Store</h3>
    <p>Your purchase details was sent to {{user.email}}</p>
</div>
