    <div class="form-header"><h2>Add product</h2></div>
    <div class="form">
        <div>
            {{#each errors}}
                <div class="errors">{{this}}</div>
            {{/each}}
        </div>

        <form method="POST" action="/products/add" enctype="multipart/form-data">
            <ul class="form-style-1">
                <li>
                    <label for="productCategory">Product Category<span class="required">*</span></label>
                    <select name="productCategory" id="productCategory">
                        <option value="Household Supplies">Household Supplies</option>
                        <option value="Electronics">Electronics</option>
                        <option value="Tools">Tools</option>
                    </select>
                </li>
                <li>
                    <label for="productName">Product Name<span class="required">*</span></label>
                    <input type="text" name="productName" id="productName" class="field-long" value={{productName}}>
                </li>
                <li>
                    <label for="productPrice">Product Price<span class="required">*</span></label>
                    <input type="text" name="productPrice" id="productPrice" class="field-long" value={{productPrice}}>
                </li>
                <li>
                    <label for="productDesc">Product Description<span class="required">*</span></label>
                    <textarea id="productDesc" name="productDesc" class="field-long"></textarea>
                </li>
                <li>
                    <label for="productQuantity">Product Quantity<span class="required">*</span></label>
                    <input type="number" value="1" id="productQuantity" name="productQuantity">
                </li>
                <li>
                    <label for="bestSeller">Best Seller<span class="required">*</span></label>
                    <input type="checkbox" id="bestSeller" name="bestSeller" value="true">
                </li>
                <li>
                    <label for="productPic">Upload Photo<span class="required">*</span></label>
                    <input type="file" name="productPic" id="productPic">
                </li>
                <br>
                <li>
                    <input type="submit" value="Add Product">
                </li>
            </ul>
            
        </form>
    </div>

 